*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #e9e9e9;
    padding-left: 6%;
    padding-right: 6%;
    font-family: 'Archivo narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/******************************** Barre de navigation ********************************/
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 30px 150px 30px 0px;
    width: 100%;
    background-color: #e9e9e9; 
}
ul{
    list-style-type: none;
    display: flex;
    padding-top: 12px;
}
.logo{
    color: #2275ff;
    font-size: 2.3em;
    padding-top: 0px;
    text-decoration: none;
}
li a{
    font-size: 14px;
    color: #2275ff;
    text-decoration: none;
    padding: 0px 40px 0px 0px;
}
li a:hover{
    color: #000726;
    text-decoration: underline #000726;
    text-underline-offset: 45px;
    transition: all 0.3s ease-out;
}
/******************************** Page 1 ********************************/
.page1{
    display: flex;
    justify-content: space-around;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Staan{
    padding-top: 100px;
}
h1{
    color: #000726;
    font-size: 50px;
    padding-top: 250px;
    text-align: center;
}
strong{
    color: #2275ff;
}
.btn{
    background-color: #2275ff;
    padding: 15px;
    max-width: max-content;
    min-width: max-content;
    margin-top: 25px;
    text-align: center;
    box-shadow: 3px 3px 15px #2275ff, 3px 3px 15px #2275ff;
}
.btn a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.btn a:hover{
    color: #000726;
    transition: all 0.3s ease-out;
}
/******************************** Page 1 - Responsive ********************************/
/* Telephone et Tablette */
@media screen and (max-width: 775px){
    /* temporaire(a enlever apres nav buger faite */
    nav{
        opacity: 0;
    }
    /* */
    .page1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        margin-top: -420px;
    }
    .btn{
        margin: 25px 120px 0px 120px;
    }
    .title{
        position: absolute;
    }
    .Staan{
        position: relative;
        z-index: -5;
        opacity: 0;
    }
}
/******************************** Page 2 ********************************/
.five_w{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bulle{
    border: 1px solid #2275ff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    width: 375px;
}
.bulle h2{
    color: #2275ff;
    font-size: 27px;
    padding-bottom: 20px;
}
.bulle p{
    color: #000726;
    font-size: 20px;
}
/******************************** Page 2 - Responsive ********************************/
/* Telephone */
@media screen and (max-width: 450px){
    .five_w{
        margin-top: -150px;
    }
}
/* Tablette */
@media screen and (min-width: 451px) and (max-width: 775px){
    .five_w{
        margin-top: -200px;
    }
    .bulle{
        border: 1px solid #2275ff;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 30px;
        width: 320px;
    }
}
/******************************** Page 3 ********************************/
.votre_reve{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.votre_reve h2{
    color: #2275ff;
    font-size: 27px;
    padding-bottom: 5px;
}
.votre_reve p{
    color: #000726;
    font-size: 20px;
}
/******************************** Page 3 - Responsive ********************************/
/******************************** Page 4 ********************************/
#avantages{
    margin-top: -200px;
}
#avantages h1{
    color: #2275ff;
    font-size: 90px;
    text-align: left;
}
#avantages h2{
    color: #000726;
    font-size: 41px;
    text-align: left;
}
.six_avantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.paragraphe{
    padding: 20px;
    margin-bottom: 30px;
    width: 375px;
}
.paragraphe h3{
    color: #2275ff;
    font-size: 27px;
    padding-bottom: 20px;
}
.paragraphe p{
    color: #000726;
    font-size: 20px;
}
/******************************** Page 4 - Responsive ********************************/
/* Telephone */
@media screen and (max-width: 450px){
    #avantages{
        margin-top: 200px;
    }
    #avantages h1{
        color: #2275ff;
        font-size: 53px;
    }
    .paragraphe{
        width: 375px;
    }
}
/* Tablette */
@media screen and (min-width: 451px) and (max-width: 775px){
    #avantages{
        margin-top: 200px;
    }
    #avantages h1{
        color: #2275ff;
        font-size: 53px;
    }
    .paragraphe{
        width: 320px;
    }
}
/******************************** Page 5 ********************************/
#page_formateur{
    display: flex;
    justify-content: space-between;
}
.Staan_formateur{ /* utiliser stiky + relative + absolute pour conserver "je serai votre formateur sous l'image de staan */
    width: 600px;
}
#page_formateur h1{
    color: #2275ff;
    font-size: 27px;
    padding-top: 30px;
    padding-bottom: 25px;
}
#page_formateur p{
    color: #000726;
    font-size: 20px;
}
.animation_formateur{
    padding: 0px 150px 0px 150px;
}
.animation_formateur h1{
    color: #000726;
    font-size: 50px;
    margin-top: -290px;
    margin-left: -620px;
    text-shadow: 1px 1px #e9e9e9;
    animation: apparition 1s ease-out; /* Voir javascript pour lancer l'animation au scroll*/
}
.animation_formateur h2{
    color: #2275ff;
    font-size: 40px;
    margin: -5px 0px 80px 42px;
    animation: apparition 1s ease-out; /* Voir javascript pour lancer l'animation au scroll*/
    animation-delay: 0.3s; /* Voir javascript pour lancer l'animation au scroll*/
}
@keyframes apparition{ /* Voir javascript pour lancer l'animation au scroll*/
    from{
        opacity: 0;
        transform: translatex(-200px);
    }
    to{
        opacity: 1;
        transform: translatex(0px);
    }
}
/******************************** Page 5 - Responsive ********************************/
@media screen and (max-width: 775px){
    #page_formateur{
        opacity: 0;
        display: flex;
        flex-wrap: wrap;
        padding: 50px 30px 0px 30px;
    }
    #page_formateur h1{
        color: #2275ff;
        font-size: 27px;
        padding-top: 570px;
        padding-bottom: 25px;
    }
    #page_formateur p{
        color: #000726;
        font-size: 20px;
    }
    .Staan_formateur{
        width: 400px;
    }
    .animation_formateur{
        padding: -50px 0px 0px 0px;
    }
    .animation_formateur h1{
        color: #000726;
        font-size: 28px;
        margin-top: -1163px;
        margin-left: -155px; /* va tr faire foutre, ça veut pas ce mettre sur une ligne. ENCULER*/
        text-shadow: 1px 1px #e9e9e9;
    }
    .animation_formateur h2{
        color: #2275ff;
        font-size: 25px;
        margin-left: -110px;
    }
}
/******************************** Page 6 ********************************/
#programme{
    margin-top: -190px;
    padding: 0px 150px 0px 150px;
}
#programme h1{
    color: #2275ff;
    font-size: 90px;
    margin-left: -350px;
}
#programme h2{
    color: #000726;
    font-size: 41px;
    margin: 5px 0px 0px 0px;
}
#programme h3{
    color: #000726;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 45px;
}
.six_semaines{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.semaine{
    padding-top: 35px;
}
.puce{
    display: flex;
}
.puce span{
    padding: 3px 8px 3px 8px;
    margin-top: -2px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid #2275ff;
    border-radius: 50%;
    background-color: #2275ff;
}
.semaine h4{
    color: #2275ff;
    font-size: 40px;
    padding-bottom: 20px;
}
.semaine p{
    color: #000726;
    font-size: 20px;
}
/******************************** Page 6 - Responsive ********************************/
@media screen and (max-width: 775px){
    #programme{
        opacity: 0;
        margin-top: 1070px;
        padding: 0px 30px 10px 30px;
    }
    #programme h1{
        color: #2275ff;
        font-size: 50px;
        margin-left: 0px;
    }
    #programme h2{
        color: #000726;
        font-size: 33px;
        margin: 25px 0px 10px 0px;
    }
    #programme h3{
        color: #000726;
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 15px;
    }
    .puce span{
        padding: 3px 8px 3px 8px;
        margin-bottom: 40px;
        margin-top: -2px;
        margin-right: 10px;
        color: white;
        font-weight: bold;
        border: 1px solid #2275ff;
        border-radius: 50%;
        background-color: #2275ff;
    }
}
/******************************** Page 7 ********************************/
#faq{
    margin-top: -190px;
    padding: 0px 150px 0px 150px;
}
#faq h1{
    color: #000726;
    font-size: 90px;
    margin-left: -1030px;
    margin-bottom: 30px;
}
.afficher_au_clic h2{
    color: #2275ff;
    font-size: 25px;
    margin-bottom: 10px;
}
.afficher_au_clic p{
    color: #000726;
    font-size: 20px;
    padding-bottom: 20px;
}
.plus{
    display: flex;
}
.plus span{
    padding: 3px 8px 0px 8px; 
    margin: 0px 10px 13px 0px;
    color: white;
    font-weight: bold;
    border: 1px solid #2275ff;
    background-color: #2275ff;
}
#faq h3{
    color: #000726;
    font-size: 71px;
    text-align: center;
    padding: 35px;
}
#faq .btn{
    margin: 0px 520px 80px 520px;
}
/******************************** Page 7 - Responsive ********************************/
@media screen and (max-width: 775px){
    #faq{
        opacity: 0;
        padding: 0px 30px 0px 30px;
    } 
    #faq h1{
        color: #000726;
        font-size: 90px;
        margin: 0px 0px 30px 0px;
    }
    .plus span{
        padding: 3px 8px 0px 8px; 
        margin: 0px 10px 90px 0px;
        color: white;
        font-weight: bold;
        border: 1px solid #2275ff;
        background-color: #2275ff;
    }
    #faq h3{
        color: #000726;
        font-size: 50px;
        text-align: center;
        padding: 30px;
    }
    #faq .btn{
        margin: 0px 80px 230px 80px;
    }
}
/******************************** Page 8 ********************************/
.goal{
    margin-top: -180px;
    padding: 0px 150px 0px 150px;
}
.goal h1{
    color: #2275ff;
    font-size: 80px;
    margin-left: -40px;
}
.goal h2{
    color: #000726;
    font-size: 41px;
}
.goal p{
    color: #000726;
    font-size: 20px;
    padding-top: 50px;
}
/******************************** Page 8 - Responsive ********************************/
@media screen and (max-width: 775px){
    .goal{
        opacity: 0;
        margin-top: -180px;
        padding: 0px 30px 200px 30px;
    }
    .goal h1{
        color: #2275ff;
        font-size: 45px;
        margin-left: 0px;
    }
    .goal h2{
        color: #000726;
        font-size: 30px;
        text-align: center;
    }
}
/******************************** Page 9 ********************************/
#temoignages{
    margin-top: -80px;
    padding: 0px 150px 0px 150px;
}
#temoignages h1{
    color: #2275ff;
    font-size: 80px;
    margin-left: -470px;
}
#temoignages h2{
    color: #000726;
    font-size: 41px;
    margin-top: -10px;
    padding-bottom: 500px; /* pour laisser de la place au futur témoignages */
}
/******************************** Page 9 - Responsive ********************************/
@media screen and (max-width: 775px){
    #temoignages{
        opacity: 0;
        margin-top: 0px;
        padding: 0px 30px 0px 30px;
    }
    #temoignages h1{
        color: #2275ff;
        font-size: 50px;
        margin-left: 0px;
    }
    #temoignages h2{
        color: #000726;
        font-size: 30px;
        text-align: center;
        padding-bottom: 380px; /* pour laisser de la place au futur témoignages */
    }
}
/******************************** Page 10 ********************************/
#reseaux{
    margin-top: -420px;
    padding: 0px 150px 0px 150px;
}
#reseaux h1{
    color: #2275ff;
    font-size: 90px;
    margin-left: -750px;
}
#reseaux h2{
    color: #000726;
    font-size: 41px;
    margin-top: -15px;
}
.reseaux_sociaux{
    display: flex;
    justify-content: space-around;
}
.reseaux_sociaux h3{
    padding-top: 70px;
    padding-bottom: 20px;
    color: #2275ff;
    font-size: 27px;
}
.reseaux_sociaux p{
    color: #000726;
    font-size: 20px;
    padding-bottom: 30px;
}
.btn_reseau{
    border: 1px solid #2275ff;
    padding: 15px;
    margin-right: 200px;
    margin-bottom: 250px;
    text-align: center;
    background-color: #2275ff;
    box-shadow: 3px 3px 15px #2275ff, 3px 3px 15px #2275ff;
}
.btn_reseau a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.btn_reseau a:hover{
    color: #000726;
    transition: all 0.3s ease-out;
}
/******************************** Page 10 - Responsive ********************************/
@media screen and (max-width: 775px){
    #reseaux{
        opacity: 0;
        padding: 0px 30px 0px 30px;
    }
    #reseaux h1{
        color: #2275ff;
        font-size: 50px;
        margin-left: 0px;
    }
    #reseaux h2{
        color: #000726;
        font-size: 30px;
        text-align: center;
        margin-top: 15px;
        padding-bottom: 250px;
    }
    .reseaux_sociaux{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .reseaux_sociaux h3{
        padding-bottom: 10px;
        color: #2275ff;
        font-size: 27px;
        text-align: center;
        margin-top: -270px;
    }
    .reseaux_sociaux p{
        color: #000726;
        font-size: 20px;
        padding-bottom: 5px;
        text-align: center;
    }
    .btn_reseau{
        border: 1px solid #2275ff;
        padding: 15px;
        text-align: center;
        background-color: #2275ff;
        box-shadow: 3px 3px 15px #2275ff, 3px 3px 15px #2275ff;
        margin-right: 50px;
        margin-left: 50px;
    }
}
